:root {
  --primary-color: #cb997e;
}

.header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: var(--primary-color);
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

.nav-links {
  display: flex; 
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgba(203, 153, 126, 0.55);
}

@media(max-width: 1023px) { 
  .nav-links { 
    display: none;
  }

  .header ion-icon { 
    color: #cb997e;
    font-size: 3rem;
    display: block;
  }
}

@media(min-width: 1024px) { 
  .nav-links {
    display: flex; 
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }

  .header ion-icon { 
    display: none;
  }
}

